<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit Condition</title>
</head>
<body layout:fragment="body" >
<h1>Edit Condition</h1>
<form action="#" th:action="@{/conditions/save}" th:object="${conditionDetail}" method="POST">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{patient.id}" />
    <input type="hidden" th:field="*{staff.id}" />
    <table>
        <tbody>
            <tr>
                <td>Patient</td>
                <td>
                    <select th:field="*{patient.id}">
                        <option th:each="patientOption:${allPatients}" th:value="${patientOption.id}" th:text="${patientOption.firstName + ' ' + patientOption.surname}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Doctor</td>
                <td>
                    <select th:field="*{staff.id}">
                        <option th:each="staffOption:${allStaffs}" th:value="${staffOption.id}" th:text="${staffOption.firstName + ' ' + staffOption.lastName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Diagnosis</td>
                <td><input type="text" th:field="*{diagnosis}" /> </td>
            </tr>
            <tr>
                <td>Notes</td>
                <td><input type="text" th:field="*{notes}" /> </td>
            </tr>
            <tr>
                <td>Diagnosis Date</td>
                <td><input type="date" th:field="*{diagnosisDate}" /></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" >Save</button>
</form>
<a th:href="@{/conditions/delete/{id}(id=${conditionDetail.id})}">Delete this condition</a>
</body>
</html>