<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Conditions</title>
</head>
<body layout:fragment="body" >
<h1>Condition List</h1>

<a class="btn btn-primary m-1" th:href="@{/conditions/add}">
    Add Condition
</a>

<table class="table table-striped">
    <thead>
    <th>ID</th>
    <th>Patient</th>
    <th>Doctor</th>
    <th>Diagnosis</th>
    <th>Notes</th>
    <th>Diagnosis Date</th>
    <th>Option</th>
    </thead>
    <tbody>
    <tr th:each="condition:${allConditions}">
        <td th:text="${condition.id}"></td>
        <td th:text="${condition.patient?.firstName + ' ' + condition.patient?.surname}"></td>
        <td th:text="${condition.doctor?.firstName + ' ' + condition.doctor?.lastName}"></td>
        <td th:text="${condition.diagnosis}"></td>
        <td th:text="${condition.notes}"></td>
        <td th:text="${#dates.format(condition.diagnosisDate, 'dd-MM-yyyy') }"></td>
        <td>
            <a class="btn btn-warning m-1" th:href="@{/conditions/update/{id}(id=${condition.id})}">Update</a>
            <a class="btn btn-danger m-1" th:href="@{/conditions/delete/{id}(id=${condition.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>