<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Add Visit Note</title>
</head>
<body layout:fragment="body" >
    <h1>Add Visit Note</h1>
    <form action="#" th:action="@{/visit-notes/save}" th:object="${visitNoteDetail}" method="POST">
        <table>
            <tbody>
                <tr>
                    <td>Doctor</td>
                    <td>
                    <select th:field="*{staff.id}">
                        <option th:each="staffOption:${allDoctors}" th:value="${staffOption.id}" th:text="${staffOption.firstName + ' ' + staffOption.lastName}"></option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td>Patient</td>
                    <td>
                        <select th:field="*{patient.id}">
                            <option th:each="patientOption:${allPatients}" th:field="*{role.id}" th:value="${patientOption.id}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Content</td>
                    <td><input type="text" th:field="*{content}" /></td>
                </tr>
                <tr>
                    <td>Visit Date</td>
                    <td><input type="date" th:field="*{visitDate}" /></td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Add</button>
    </form>
</body>
</html>