<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit Visit Note</title>
</head>
<body layout:fragment="body" >
    <h1>Edit Visit Note</h1>
    <form action="#" th:action="@{/visitnotes/save}" th:object="${visitNoteDetail}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{patient.id}" />
        <input type="hidden" th:field="*{doctor.id}" />
        <div class="mb-3 w-50">
            <label class="form-label" for="doctor-name">Doctor</label>
            <input id="doctor-name" class="form-control" type="text" th:value="${visitNoteDetail.doctor?.firstName} + ' ' + ${visitNoteDetail.doctor?.lastName}" disabled readonly>
        </div>

        <div class="mb-3 w-50">
            <label class="form-label" for="patient-name">Patient</label>
            <input id="patient-name" class="form-control" type="text" th:value="${visitNoteDetail.patient?.firstName} + ' ' + ${visitNoteDetail.patient?.surname}" disabled readonly>
        </div>

        <div class="mb-3 w-50">
            <label class="form-label" for="content">Content</label>
            <textarea class="form-control" id="content" type="text" th:field="*{content}" rows="7"></textarea>
        </div>

        <div class="mb-3 w-50">
            <label class="form-label" for="visit-date">Visit Date</label>
            <input class="form-control" id="visit-date" type="date" th:field="*{visitDate}" />
        </div>

        <div class="mb-3 w-50">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
</body>
</html>