<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Visit Notes</title>
</head>
<body layout:fragment="body" >
<h1>Visit Notes List</h1>

<a class="btn btn-primary m-1" th:href="@{/visitnotes/add}">
    Add Visit
</a>

<table class="table table-striped">
    <thead>
    <th scope="col">ID</th>
    <th scope="col">Doctor</th>
    <th scope="col">Patient</th>
    <th scope="col">Content</th>
    <th scope="col">Visit Date</th>
    <th scope="col">Option</th>
    </thead>
    <tbody>
    <tr th:each="visitNote:${allVisitNotes}">
        <td th:text="${visitNote.id}"></td>
        <td th:text="${visitNote.doctor?.firstName + ' ' + visitNote.doctor?.lastName}"></td>
        <td th:text="${visitNote.patient?.firstName + ' ' + visitNote.patient?.surname}"></td>
        <td th:text="${visitNote.content}"></td>
        <td th:text="${#dates.format(visitNote.visitDate, 'dd-MM-yyyy') }"></td>
        <td>
            <a class="btn btn-warning" th:href="@{/visitnotes/update/{id}(id=${visitNote.id})}">Update</a>
            <a class="btn btn-danger" th:href="@{/visitnotes/delete/{id}(id=${visitNote.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>