<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Visit Notes</title>
</head>
<body layout:fragment="body" >
<h1>Visit Notes List</h1>
<table>
    <thead>
    <th>ID</th>
    <th>Doctor</th>
    <th>Patient</th>
    <th>Content</th>
    <th>Visit Date</th>
    <th>Option</th>
    </thead>
    <tbody>
    <tr th:each="visitNote:${allVisitNotes}">
        <td th:text="${visitNote:$.id}"></td>
        <td th:text="${visitNote.doctor?.firstName + ' ' + visitNote.doctor?.lastName}"></td>
        <<td th:text="${visitNote.patient?.id}"></td>
        <td th:text="${visitNote.content}"></td>
        <td th:text="${#dates.format(patient.visitDate, 'dd-MM-yyyy') }"></td>
        <td><a th:href="@{/visit-notes/update/{id}(id=${visitNote.id})}">Update</a></td>
        <td><a th:href="@{/visit-notes/delete/{id}(id=${visitNote.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>