<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Shifts</title>
</head>
<body layout:fragment="body" >
<h1>Shift list</h1>
<table>
    <thead>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Start Time</th>
    <th>Finish Time</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Provider No.</th>
    <th>Prescriber No.</th>
    <th>Option</th>
    </thead>
    <tbody>
    <tr th:each="shift:${allShifts}">
        <td th:text="${shift.id}"></td>
        <td th:text="${shift.staff?.firstName}"></td>
        <td th:text="${shift.staff?.lastName}"></td>
        <td th:text="${#dates.format(shift.startTime, 'dd-MM-yyyy HH:mm') }"></td>
        <td th:text="${#dates.format(shift.finishTime, 'dd-MM-yyyy HH:mm') }"></td>
        <td th:text="${shift.staff?.phone}"></td>
        <td th:text="${shift.staff?.email}"></td>
        <td th:text="${shift.staff?.providerNumber}"></td>
        <td th:text="${shift.staff?.prescriberNumber}"></td>
        <td><a th:href="@{/shifts/update/{id}(id=${shift.id})}">Update</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>