<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Shifts</title>
</head>
<body layout:fragment="body" >

<h1>Shifts</h1>

<a class="btn btn-primary m-1" th:href="@{/shifts/add}">
    Add Shift
</a>

<table class="table table-striped">
    <thead>
    <th scope="col">ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Start Time</th>
    <th scope="col">Finish Time</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Provider No.</th>
    <th scope="col">Prescriber No.</th>
    <th scope="col">Options</th>
    </thead>
    <tbody>
    <tr th:each="shift:${allShifts}">
        <td th:text="${shift.id}"></td>
        <td th:text="${shift.staff?.firstName}"></td>
        <td th:text="${shift.staff?.lastName}"></td>
        <td th:text="${#dates.format(shift.startTime, 'dd-MM-yyyy HH:mm') }"></td>
        <td th:text="${#dates.format(shift.finishTime, 'dd-MM-yyyy HH:mm') }"></td>
        <td th:text="${shift.staff?.phone}"></td>
        <td th:text="${shift.staff?.email}"></td>
        <td th:text="${shift.staff?.providerNumber}"></td>
        <td th:text="${shift.staff?.prescriberNumber}"></td>
        <td>
            <a class="btn btn-warning m-1" th:href="@{/shifts/update/{id}(id=${shift.id})}">Update</a>
            <a class="btn btn-danger m-1" th:href="@{/shifts/delete/{id}(id=${shift.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>