<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Edit Shift</title>
</head>
<body layout:fragment="body" >
<h1>Edit Shift</h1>
<div>
     Staff name: <span th:text="' ' + ${shiftDetail.staff?.firstName} + ' ' + ${shiftDetail.staff?.lastName}"></span>
</div>
<form action="#" th:action="@{/shifts/save}" th:object="${shiftDetail}" method="POST">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{staff.id}" />
    <table>
        <tbody>
        <tr>
            <td>Start Time</td>
            <td><input type="datetime-local" th:field="*{startTime}" /> </td>
        </tr>
        <tr>
            <td>Finish Time</td>
            <td><input type="datetime-local" th:field="*{finishTime}" /></td>
        </tr>
        </tbody>
    </table>
    <button type="submit" >Save</button>
</form>
<a th:href="@{/shifts/delete/{id}(id=${shiftDetail.id})}">Delete this shift</a>
</body>
</html>