<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Edit Shift</title>
</head>
<body>
<h1>Edit Shift</h1>
<div>
     Staff name: <span th:text="' ' + ${shiftDetail.staff?.firstName} + ' ' + ${shiftDetail.staff?.lastName}"></span>
</div>
<form action="#" th:action="@{/shifts/save}" th:object="${shiftDetail}" method="POST">
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" th:field="*{staff.id}" />
    <table>
        <tbody>
        <tr>
            <td>Start Time</td>
            <td><input type="datetime-local" th:field="*{startTime}" /> </td>
        </tr>
        <tr>
            <td>Finish Time</td>
            <td><input type="datetime-local" th:field="*{finishTime}" /></td>
        </tr>
        </tbody>
    </table>
    <button type="submit" >Save</button>
</form>
<a th:href="@{/shifts/delete/{id}(id=${shiftDetail.id})}">Delete this shift</a>
</body>
</html>