<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Patients</title>
</head>
<body layout:fragment="body" >
    <h1>Patient List</h1>

    <a class="btn btn-primary m-1" th:href="@{/patients/register}">
        Add Patient
    </a>

    <table class="table table-striped">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">First name</th>
            <th scope="col">Surname</th>
            <th scope="col">DOB</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Street</th>
            <th scope="col">Suburb</th>
            <th scope="col">State</th>
            <th scope="col">Postcode</th>
            <th scope="col">Option</th>
        </thead>
        <tbody>
            <tr th:each="patient:${allPatients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.firstName}"></td>
                <td th:text="${patient.surname}"></td>
                <td th:text="${#dates.format(patient.dateOfBirth, 'dd-MM-yyyy') }"></td>
                <td th:text="${patient.phoneNbr}"></td>
                <td th:text="${patient.emailAddress}"></td>
                <td th:text="${patient.street}"></td>
                <td th:text="${patient.suburb}"></td>
                <td th:text="${patient.state}"></td>
                <td th:text="${patient.postcode}"></td>
                <td>
                    <a class="btn btn-warning m-1"  th:href="@{/patients/update/{id}(id=${patient.id})}">Update</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>