<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Patient List</title>
</head>
<body>
    <h1>Patient List</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>DOB</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Street</th>
            <th>Suburb</th>
            <th>State</th>
            <th>Postcode</th>
            <th>Option</th>
        </thead>
        <tbody>
            <tr th:each="patient:${allPatients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.firstName}"></td>
                <td th:text="${patient.surname}"></td>
                <td th:text="${#dates.format(patient.dateOfBirth, 'dd-MM-yyyy') }"></td>
                <td th:text="${patient.phoneNbr}"></td>
                <td th:text="${patient.emailAddress}"></td>
                <td th:text="${patient.street}"></td>
                <td th:text="${patient.suburb}"></td>
                <td th:text="${patient.state}"></td>
                <td th:text="${patient.postcode}"></td>
                <td><a th:href="@{/patients/update/{id}(id=${patient.id})}">Update</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>