<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Register Patient</title>
</head>
<body layout:fragment="body" >
    <h1>Register Patient</h1>
    <form action="#" th:action="@{/patients/save}" th:object="${patientDetail}" method="POST">
        <table>
            <tbody>
                <tr>
                    <td>First Name</td>
                    <td><input type="text" th:field="*{firstName}" /> </td>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td><input type="text" th:field="*{surname}" /></td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td><input type="date" th:field="*{dateOfBirth}" /></td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td><input type="tel" th:field="*{phoneNbr}" /> </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" th:field="*{emailAddress}" /> </td>
                </tr>
                <tr>
                    <td>Street</td>
                    <td><input type="text" th:field="*{street}" /></td>
                </tr>
                <tr>
                    <td>Suburb</td>
                    <td><input type="text" th:field="*{suburb}" /></td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>
                        <select th:field="*{state}">
                            <option value="NSW">NSW</option>
                            <option value="VIC">VIC</option>
                            <option value="QLD">QLD</option>
                            <option value="ACT">ACT</option>
                            <option value="SA">SA</option>
                            <option value="WA">WA</option>
                            <option value="NT">NT</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Postcode</td>
                    <td><input type="text" th:field="*{postcode}" /></td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Register</button>
    </form>
</body>
</html>