<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Staff</title>
</head>
<body layout:fragment="body" >
    <h1>Staff list</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Street</th>
            <th>Suburb</th>
            <th>State</th>
            <th>Postcode</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Provider No.</th>
            <th>Prescriber No.</th>
            <th>Role</th>
            <th>Option</th>
        </thead>
        <tbody>
            <tr th:each="staff:${allStaffs}">
                <td th:text="${staff.id}"></td>
                <td th:text="${staff.firstName}"></td>
                <td th:text="${staff.lastName}"></td>
                <td th:text="${#dates.format(staff.dob, 'dd-MM-yyyy') }"></td>
                <td th:text="${staff.street}"></td>
                <td th:text="${staff.suburb}"></td>
                <td th:text="${staff.state}"></td>
                <td th:text="${staff.postcode}"></td>
                <td th:text="${staff.phone}"></td>
                <td th:text="${staff.email}"></td>
                <td th:text="${staff.providerNumber}"></td>
                <td th:text="${staff.prescriberNumber}"></td>

                <td th:text="${staff.role?.name}"></td>
                <td><a th:href="@{/staffs/update/{id}(id=${staff.id})}">Update</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>