<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Staff</title>
</head>
<body layout:fragment="body" >
    <h1>Staff list</h1>

    <a class="btn btn-primary m-1" th:href="@{/staffs/register}">
        Add Staff
    </a>

    <table class="table table-striped">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Street</th>
            <th scope="col">Suburb</th>
            <th scope="col">State</th>
            <th scope="col">Postcode</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Provider No.</th>
            <th scope="col">Prescriber No.</th>
            <th scope="col">Role</th>
            <th scope="col">Options</th>
        </thead>
        <tbody>
            <tr th:each="staff:${allStaffs}">
                <td th:text="${staff.id}"></td>
                <td th:text="${staff.firstName}"></td>
                <td th:text="${staff.lastName}"></td>
                <td th:text="${#dates.format(staff.dob, 'dd-MM-yyyy') }"></td>
                <td th:text="${staff.street}"></td>
                <td th:text="${staff.suburb}"></td>
                <td th:text="${staff.state}"></td>
                <td th:text="${staff.postcode}"></td>
                <td th:text="${staff.phone}"></td>
                <td th:text="${staff.email}"></td>
                <td th:text="${staff.providerNumber}"></td>
                <td th:text="${staff.prescriberNumber}"></td>

                <td th:text="${staff.role?.name}"></td>
                <td>
                    <a class="btn btn-warning" th:href="@{/staffs/update/id/{id}(id=${staff.id})}">Update</a>
                    <a class="btn btn-danger" th:href="@{/staffs/delete/{id}(id=${staff.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>