<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Update Staff Profile</title>
</head>
<body layout:fragment="body" >
    <h1>Update Staff</h1>
    <form action="#" th:action="@{/staffs/save}" th:object="${staffDetail}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{password.id}" />

        <div class="mb-3 w-50">
            <label class="form-label" for="first-name">First name</label>
            <input class="form-control" id="first-name" type="text" th:field="*{firstName}" />
        </div>

        <div class="mb-3 w-50">
            <label class="form-label" for="last-name">Last name</label>
            <input class="form-control" id="last-name" type="text" th:field="*{lastName}" />
        </div>

        <div class="mb-3 w-50">
            <label class="form-label" for="dob">Date of birth</label>
            <input class="form-control" id="dob" type="date" th:field="*{dob}" />
        </div>

        <div class="mb-3 w-50">
            <label class="form-label" for="street">street</label>
            <input class="form-control" id="street" type="text" th:field="*{street}" />
        </div>

        <div class="mb-3 w-50">
            <label class="form-label" for="suburb">Suburb</label>
            <input class="form-control" id="suburb" type="text" th:field="*{suburb}" />
        </div>

        <div class="mb-3 w-50">
            <label class="form-label" for="state">State</label>
            <select class="form-select" id="state" th:field="*{state}">
                <option value="NSW">NSW</option>
                <option value="VIC">VIC</option>
                <option value="QLD">QLD</option>
                <option value="ACT">ACT</option>
                <option value="SA">SA</option>
                <option value="WA">WA</option>
                <option value="NT">NT</option>
            </select>
        </div>

        <div class="mb-3 w-50">
            <label class="form-label" for="postcode">Postcode</label>
            <input class="form-control" id="postcode" type="text" th:field="*{postcode}" />
        </div>

        <div class="mb-3 w-50">
            <label class="form-label" for="phone">Phone</label>
            <input class="form-control" id="phone" type="tel" th:field="*{phone}" />
        </div>

        <div class="mb-3 w-50">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" id="email" type="email" th:field="*{email}" />
        </div>

        <!--<div class="mb-3 w-50">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" id="password" type="password" th:field="${password}" disabled readonly/>
        </div>-->

        <div class="mb-3 w-50">
            <label class="form-label" for="provider-number">Provider Number</label>
            <input class="form-control" id="provider-number" type="text" th:field="*{providerNumber}" />
        </div>

        <div class="mb-3 w-50">
            <label class="form-label" for="prescriber-number">Prescriber Number</label>
            <input class="form-control" id="prescriber-number" type="text" th:field="*{prescriberNumber}" />
        </div>

        <div class="mb-3 w-50">
            <label class="form-label">Role</label>
            <div class="mb-2" th:each="roleOption:${allRoles}">
                <input class="form-check-input" type="radio" th:field="*{role.id}" th:value="${roleOption.id}" th:id="${roleOption.name}" />
                <label class="for-check-label" th:text="${roleOption.name}" th:for="${roleOption.name}"></label>
            </div>
        </div>

        <div class="mb-3 w-50">
            <button class="btn btn-primary" type="submit" >Update</button>
        </div>

    </form>
</body>
</html>