<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Update Staff Profile</title>
</head>
<body layout:fragment="body" >
    <h1>Update Staff</h1>
    <form action="#" th:action="@{/staffs/save}" th:object="${staffDetail}" method="POST">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{password.id}" />
        <table>
            <tbody>
            <tr>
                <td>First Name</td>
                <td><input type="text" th:field="*{firstName}" /> </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" th:field="*{lastName}" /></td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td><input type="date" th:field="*{dob}" /></td>
            </tr>
            <tr>
                <td>Street</td>
                <td><input type="text" th:field="*{street}" /></td>
            </tr>
            <tr>
                <td>Suburb</td>
                <td><input type="text" th:field="*{suburb}" /></td>
            </tr>
            <tr>
                <td>State</td>
                <td>
                    <select th:field="*{state}">
                        <option value="">Select State</option>
                        <option value="NSW">NSW</option>
                        <option value="VIC">VIC</option>
                        <option value="QLD">QLD</option>
                        <option value="ACT">ACT</option>
                        <option value="SA">SA</option>
                        <option value="WA">WA</option>
                        <option value="NT">NT</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Postcode</td>
                <td><input type="text" th:field="*{postcode}" /></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="tel" th:field="*{phone}" /> </td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" th:field="*{email}" /> </td>
            </tr>
<!--            <tr>-->
<!--                <td>Password</td>-->
<!--                <td><input type="password" th:field="*{password}" /></td>-->
<!--            </tr>-->
            <tr>
                <td>Provider Number</td>
                <td><input type="text" th:field="*{providerNumber}" /></td>
            </tr>
            <tr>
                <td>Prescriber Number</td>
                <td><input type="text" th:field="*{prescriberNumber}" /></td>
            </tr>
            <tr>
                <td>Role</td>
                <td th:each="roleOption:${allRoles}">
                    <input type="radio" th:field="*{role.id}" th:value="${roleOption.id}" checked />
                    <label th:text="${roleOption.name}"></label>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" >Save</button>
    </form>
</body>
</html>