<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Add Appointment</title>
</head>
<body layout:fragment="body" >
<h1>Add Appointment</h1>
<div>
    Doctor: <span th:text="' ' + ${shiftDetail.staff?.firstName} + ' ' + ${shiftDetail.staff?.lastName}"></span>
</div>
<div>
    Shift Detail: <span th:text="' ' + ${shiftDetail.startTime} + ' - ' + ${shiftDetail.finishTime}"></span>
</div>
<form action="#" th:action="@{/appointments/save}" th:object="${appointmentDetail}" method="POST">
<!--    <input type="text" th:field="*{doctor.id}" th:text="${shiftDetail.staff.id}"/>-->
<!--    <input type="text" th:field="*{shift.id}" th:text="${shiftDetail.id}"/>-->
    <div style="display:none">
    <select th:field="*{doctor.id}">
        <option th:value="${shiftDetail.staff.id}"
                th:text="${shiftDetail.staff.id}"></option>
    </select>
    <select th:field="*{shift.id}">
        <option th:value="${shiftDetail.id}"
                th:text="${shiftDetail.id}"></option>
    </select>
    </div>
    <table>
        <tbody>
        <tr>
            <td>Patient</td>
            <td>
                <select th:field="*{patient.id}">
                    <option th:each="patientOption:${allPatients}" th:value="${patientOption.id}"
                            th:text="${patientOption.firstName + ' ' + patientOption.surname}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Start Time</td>
            <td><input type="datetime-local" th:field="*{startTime}"/></td>
        </tr>
        <tr>
            <td>Finish Time</td>
            <td><input type="datetime-local" th:field="*{finishTime}"/></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <select th:field="*{status}">
                    <option value="ACTIVE">Active</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Save</button>
</form>
<div>
</div>
</body>
</html>