<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Appointment</title>
</head>
<body>
<h1>Appointments list</h1>
<table>
    <thead>
    <th>ID</th>
    <th>Patient</th>
    <th>Doctor</th>
    <th>Start Time</th>
    <th>Finish Time</th>
    <th>Status</th>
    <th>Option</th>
    </thead>
    <tbody>
    <tr th:each="appointment:${allAppointments}">
        <td th:text="${appointment.id}"></td>
        <td th:text="${appointment.patient?.firstName + ' ' + appointment.patient?.lastName}"></td>
        <td th:text="${appointment.doctor?.firstName + ' ' + appointment.doctor?.lastName}"></td>
        <td th:text="${#dates.format(appointment.startTime, 'dd-MM-yyyy HH:mm') }"></td>
        <td th:text="${#dates.format(appointment.finishTime, 'dd-MM-yyyy HH:mm') }"></td>
        <td th:text="${appointment.status}"></td>
        <td><a th:href="@{/appointments/update/{id}(id=${appointment.id})}">Update</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>